
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">

            <span class="navbar-brand" >
               Profile
        </span>

            <p class="navbar-text pull-right">
                <a ng-click="vm.update()" href="#!/user/{{vm.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-ok wd-gly-ok">
          </span>
                </a>
            </p>
        </div>
    </div>
</nav>


    <div class="container-fluid">


        <form>
            <div class="form-group">
                <div ng-show = "vm.error" class="alert alert-danger">{{vm.error}}</div>
                <label for="username">Username</label>

                <input  readonly
                        ng-model="vm.user.username"
                       type="text"
                       class="form-control"
                       id="username"
                       placeholder="Username" >
            </div>

            <div class="form-group">

                <label for="email">Email address</label>

                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="alice@wonderland.com">
            </div>

            <div class="form-group">

                <label for="first-name">First Name</label>

                <input type="text"
                       class="form-control"
                       id="first-name"
                       placeholder="Alice"
                       ng-model="vm.user.firstName">
            </div>

            <div class="form-group">

                <label for="last-name">Last Name</label>

                <input type="text"
                       class="form-control"
                       id="last-name"
                       placeholder="Wonderland"
                       ng-model="vm.user.lastName">

            </div>

        </form>

        <a ng-href="#!/user/{{vm.userId}}/website"
           class="btn btn-primary btn-block">
        Websites
        </a>

        <a class="btn btn-danger  btn-block"
           href="#!/login">Logout</a>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text wd-navbar-header pull-right ">

            <a href="#!/user/{{vm.userId}}">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>

        </div>
    </div>
</nav>

