body {	color:#666;	font:300 15px/15px Roboto,Arial,Helvetica;background-color:#fff;-webkit-font-smoothing:antialiased;}


.navbar-default {
	background-color: black;
	border-color: black;
	opacity: 0.8;
}


a{color:#00a9c6; text-decoration:none;}
li a:hover{color:white; text-decoration: none;}
a:hover{color:#666; text-decoration: none;}
.navbarhover:hover{color: white !important;}


/*.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}*/

.login-view
{
	/*background-color: black;*/
	background-image: url("http://faceitformobile.com/wp-content/uploads/2014/06/Face-It-black.jpg");
	/*background-image: url("https://ak3.picdn.net/shutterstock/videos/9900830/thumb/1.jpg") ;*/
	/*background-image: url("http://www.lincspa.co.uk/media/background/background.jpg") ;*/
	/*background-image: url("https://www.webpagefx.com/blog/images/cdn.designinstruct.com/files/234-colored_vintage_paper_textures/colored_vintage_paper_texture_02_blue.jpg") ;*/
	/*background-image: url("https://yts.ag/assets/images/movies/The_Wolverine_2013_EXTENDED/background.jpg") ;*/
	background-repeat: no-repeat ;
	opacity: 0.9;
}

.img-circle {
	border-radius: 50%;
}

.profile-view
{
	/*background-color: black;*/
	background-image: url("https://wallpaperscraft.com/image/cube_3d_graphics_black_gray_background_3d_graphics_74555_1920x1080.jpg");
	/*background-image: url("https://ak3.picdn.net/shutterstock/videos/9900830/thumb/1.jpg") ;*/
	/*background-image: url("http://www.lincspa.co.uk/media/background/background.jpg") ;*/
	/*background-image: url("https://www.webpagefx.com/blog/images/cdn.designinstruct.com/files/234-colored_vintage_paper_textures/colored_vintage_paper_texture_02_blue.jpg") ;*/
	/*background-image: url("https://yts.ag/assets/images/movies/The_Wolverine_2013_EXTENDED/background.jpg") ;*/
	background-repeat: no-repeat ;
	opacity: 0.9;
}

.loginbutton
{
	margin-top: 10px;
}

.searchdiv
{
	opacity: 0.9;
	min-height:355px;
	/*max-height: 1000px;*/
	max-width: 500px;
}

.logindiv
{
	margin-top:100px;
	margin-bottom:100px;
	min-height:500px;
	max-width: 500px;
	/*background-image: url("http://faceitformobile.com/wp-content/uploads/2014/06/Face-It-black.jpg");*/
	background-color: black;
}

.usernamelabel
{
	margin-top: 10px;
	color:white;
}

.loginmargins
{
	margin-top:20px;
	color:white;
}

.usernamelabelregister
{
	margin-top: 10px;
	color: white;
}

h1,h2,h3,h4{margin: 0;line-height: 1em;}
h1{font:700 5em Roboto,Arial,Helvetica;margin:0.25em 0;text-transform: uppercase;}
h2{font:300 2.5em Roboto,Arial,Helvetica;margin-bottom: 1.5em;}
h3{font:300 2em Roboto,Arial,Helvetica;margin:2em 0 1em 0;}
h4{font:300 1.5em Roboto,Arial,Helvetica;margin-bottom: 1em;}
h4 i{margin-right: 0.5em;}

p{font-size:1em;line-height: 1.7em; margin-bottom: 1.7em;}

.spacer{padding: 6em 0;}

/*.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover,.btn-default:active{background: rgba(0,0,0,0.8);}
.btn-primary{color: #fff;background:#00a9c6;width: 100%;outline: none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#1BC0DC;box-shadow: none;}*/

.topbar {/*background:url(../images/lines.png);*/	background-color:black; opacity:0.8; height:5px;position: fixed;top: 0;width: 100%;z-index: 1000;}
.navbar-nav > li > a{font-size: 1em;line-height: 3.6em;}
.navbar-fixed-top{top: 5px;}
.navbar-inverse{background: #111;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{background: none;color: #21abca;}

#head,.carousel{margin-top: 0;}

#home{padding-top: 6em;}
.carousel-caption{top:0;bottom: 0;left: 0; right: 0;padding: 0;}
.caption-wrapper{display: table;height: 100%;width: 100%;}
.caption-info{display: table-cell;vertical-align: middle;}
.caption-info p{font-size: 1.25em;}
.caption-info .btn i{margin-right:0.75em;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{width: 100%;}
.carousel-control{z-index:1000;}

/*about*/
.about.spacer{padding-left: 4em; padding-right: 4em;}
.process ul li{width: 10em;height: 10em;border: 1px solid #CEEBF0;padding: 0;border-radius: 50%;margin: 0 1.25em;line-height: 13.5em;color: #21ABCA;}
.process ul li span{line-height: 2em;display: inline-block;font-weight: 300;}
.process ul li span i{font-size: 3em;}
.process ul li span b{display: block;font-size: 1em;font-weight: 300;}


/*testimonials*/
.partners img{float: left;margin:0 75px 30px 0;}
.testimonails{min-height: 195px;}
.testimonails img{margin-top: 5px;}
.testimonails span{color: #888;}
.testimonails span b{font-weight: 400;}
.carousel-indicators li{border: 1px solid #2BB2E3;}
.carousel-indicators{bottom: 0;}

/*works*/
#works{padding-top:6em;}
#works figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
#works figcaption a:hover{text-decoration: none;padding: 0 3em;}
/*works*/

/*team*/
.team figure{width: 100%;}
.team img{width: 100%;}
.team b{font-size: 1.2em;display: block;}
.team a i.fa{color: #fff; font-size: 2em;}
.team a i.fa:hover{color: #21abca;}


.highlight-info{ background:url(../images/lab.jpg) center fixed; background-size: cover; color:#fff;}
.highlight-info .overlay{background: rgba(33,171,202,0.5);}
.highlight-info h4{color: #fff;margin:0.5em 0 0 0;}
/*about us*/









/*contact*/
#contact{background-color: #f5f5f5;}
.contactform textarea,.contactform input{width: 100%;padding:1em;border:1px solid #ccc;margin-bottom: 1em;border-radius: 0;outline: none;}
/*contact*/


.footer{background-color: black; color: #fff; font-size: 1em;color: #aaa;}
.footer a{color: #aaa;margin: 0 1em; }

.gototop{position: fixed;bottom: 20px; right: 20px;background: rgba(0,0,0,0.5);padding: 10px;color: #fff;}
.gototop i{line-height: 0.5em;}


@media (max-width: 1200px) {
	body{font:300 13px/13px Roboto,Arial,Helvetica;}
	.navbar-brand{padding-top: 11px;}
	.process ul li{margin:0 0.5em; }
	.grid figure h2{font: 700 1.5em Roboto,Arial,Helvetica;}
	figure.effect-oscar figcaption{padding: 12%;}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{top: 20px;right: 20px;bottom: 20px;left: 20px;}

	.partners img{margin: 0 25px 25px 0;}
}

@media (max-width: 900px) {
	#searchbutton
	{	padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		padding-bottom: 6px;}
	h1{font: 700 3.5em Roboto,Arial,Helvetica;}
	h4 {font: 300 1.3em Roboto,Arial,Helvetica;}
	.btn{padding: 1em 2em;}
	.partners img{margin: 0 15px 25px 0;width: 157px;}
	.process ul li{width: 9em;height: 9em;}
	figure.effect-chico figcaption {padding: 2em;}	
	figure.effect-oscar figcaption {padding: 20%;}
	figure.effect-chico figcaption::before{top: 10px;right: 10px;bottom: 10px;left: 10px;}
	.grid figure.effect-chico p{font-size: 0.6em;line-height: 1.5em;}	
}


@media (max-width: 767px) {
	#searchbutton
	{	padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		padding-bottom: 6px;}
	body{font:300 12px/12px Roboto,Arial,Helvetica;}
	.navbar-nav > li > a {line-height: 1em;}	
	.navbar-brand{padding: 7px;}
	.navbar-brand img{height: 37px;}
	.navbar-toggle{margin-top: 12px;}

	.carousel-caption,.carousel-control,.carousel-indicators{display: none;}

	h2.text-center{text-align: left;font-size: 1.7em;}
	h4 {font: 300 1.2em Roboto,Arial,Helvetica;}
	#partners h2{padding: 0 1em;} 
	#works {padding-top: 5em;}

	.partners{display: block;float: left;}
	.partners img{width: 120px;}



	.about.spacer{padding-left: 2em;padding-right: 2em;}
	.spacer{padding:2em 0 0 0;}
	.process ul li{margin-bottom: 1em;}

	.highlight-info .overlay{padding-bottom: 2em;}

	.grid.team div{margin: 0;padding: 0;}
	figure.effect-chico figcaption {padding: 1.5em;}
	.footer{margin-top: 2em;padding-bottom: 2em;}
}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 10px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.no-scroll-div {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*background: rgba(51,51,51,0.7);*/
	z-index: 10;
}

.proj-text-color-white{
	color:white;
}

.proj-background-black{
	background-color: black;
}

