
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="row">
            <div class="wd-navbar-media col-lg-8 col-md-8 col-sm-8">
                <div class="wd-navbar-list navbar-brand pull-left">
                    <a class="wd-gly-chevron-left"
                       ng-href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/{{vm.pid}}/widget">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                    </a>
                    Choose Widget
                </div>
            </div>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div ng-show="vm.message" class="alert alert-danger">{{vm.message}}</div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a ng-click="vm.createHeading()">
                        Header
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a href="">
                        Label
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-xs-9">
                <a ng-click="vm.createhtml()">
                    HTML
                </a>
            </div>
        </div>
    </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a ng-click="vm.createText()">
                        Text Input
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a href="ading.html">
                        Link
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a href="ading.html">
                        Button
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a ng-click="vm.createImage()">
                        Image
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a ng-click="vm.createYouTube()">
                        YouTube
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a href="ading.html">
                        Data Table
                    </a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-xs-9">
                    <a href="ading.html">
                        Repeater
                    </a>
                </div>
            </div>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text wd-navbar-header pull-right ">
            <a ng-href="#!/user/{{vm.uid}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
