
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="row">
            <div class="wd-navbar-media col-lg-8 col-md-8 col-sm-8">
                <div class="wd-navbar-list navbar-brand pull-left">
                    <a class="wd-gly-chevron-left"
                       ng-href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                    </a>
                    Widget Edit
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="navbar-brand pull-right">
                    <a ng-click="vm.editImage()">
                  <span class="wd-gly-plus glyphicon glyphicon-ok">
                  </span>
                    </a>
                </div>

            </div>
        </div>

    </div>
</nav>


<div class="container-fluid">
    <div ng-show="vm.err" class="alert alert-danger">{{vm.err}}</div>
    <label for="name">Name</label>
    <input readonly class="form-control"
           ng-model="vm.widget.type"
           placeholder="facebook"
           value="top heading"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="vm.widget.text"
           placeholder="facebook"
           value="US Senate Reaches Compromise"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           ng-model="vm.widget.url"
           placeholder="http://www.youtube.com"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           ng-model="vm.widget.width"
           placeholder="100%"
           id="width"/>
    <label> Upload Image</label>
    <a class ="btn btn-primary btn-block" href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget/{{vm.wgid}}/search">
        Search
    </a>
    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="widgetId"  value="{{vm.wgid}}"       style="display: none"/>
        <input  name="width"     value="{{vm.width}}" style="display: none"/>
        <input  name="userId"    value="{{vm.uid}}"   style="display: none"/>
        <input  name="websiteId" value="{{vm.wid}}"   style="display: none"/>
        <input  name="pageId"    value="{{vm.pid}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>
    <br/>

    <a ng-click="vm.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text wd-navbar-header pull-right ">
            <a ng-href="#!/profile">
                <span class="wd-gly-user glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
