
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="row">
            <div class="wd-navbar-media col-lg-8 col-md-8 col-sm-8">
                <div class="wd-navbar-list navbar-brand pull-left">
                    <a class="wd-gly-chevron-left"
                       ng-href="#!/user/{{vm.uid}}/website/{{vm.wid}}/page/{{vm.pid}}/widget">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                    </a>
                    Widget Edit
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="navbar-brand pull-right">
                    <a ng-click="vm.editYouTube()">
                  <span class="wd-gly-plus glyphicon glyphicon-ok">
                  </span>
                    </a>
                </div>

            </div>
        </div>

    </div>
</nav>

<div class="container-fluid">

    <label for="name">Name</label>
    <input class="form-control"
           ng-model="vm.widget.widgetType"
           placeholder="facebook"
           value="top heading"
           id="name"/>

    <label for="text">Text</label>
    <input class="form-control"
           ng-model="vm.widget.text"
           placeholder="facebook"
           value="US Senate Reaches Compromise"
           id="text"/>

    <label for="url">URL</label>
    <input class="form-control"
           ng-model="vm.widget.url"
           placeholder="https://www.youtube.com/watch?v=o_1aF54DO60"
           value="https://www.youtube.com/watch?v=o_1aF54DO60"
           id="url"/>

    <label for="width">Width</label>
    <input class="form-control"
           ng-model="vm.widget.width"
           placeholder="100%"
           value="100%"
           id="width"/>

    <a ng-click="vm.deleteWidget()"
       class="btn btn-block btn-danger">Delete</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text wd-navbar-header pull-right ">
            <a ng-href="#!/user/{{vm.uid}}">
                <span class="wd-gly-user glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
