<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="row">
            <div class="wd-navbar-media col-lg-8 col-md-8 col-sm-8">
                <div class="wd-navbar-list navbar-brand pull-left">
                    <a class="wd-gly-chevron-left"
                       ng-href="#!/website/{{vm.wid}}/page/{{vm.pid}}/widget/{{vm.wgid}}">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                    </a>
                    Search Flickr
                </div>
            </div>
        </div>

    </div>
</nav>

<div class = "container-fluid">
    <div ng-show="vm.message" class="alert alert-danger">{{vm.message}}</div>
<div class="input-group">
    <input ng-model="searchText" type="text" class="form-control">
    <span class="input-group-btn">
        <a ng-click="vm.searchPhotos(searchText)" class="btn btn-primary" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    <br/>
</div>
    <div class="row">
        <div class="col-xs-4" ng-repeat="photo in vm.photos.photo">
            <img ng-click="vm.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
        </div>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text wd-navbar-header pull-right ">
            <a ng-href="#!/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>